body {
    background-color: lightgray;
}

@font-face {
    font-family: 'Gasalt Regular';
    src: url('../fonts/Gasalt-Regular.ttf);
}

.container{
    background-color: white;
    text-align: center;
    padding: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    margin-top: 250px;
    width: 40%;
    height:30%
}

.profile-picture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.name {
    font-family: 'Gasalt-Regular';
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 900;
}

