
body {
    background-color: lightgray;
}

.container{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    text-align: center;
    padding: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
    margin-top: 180px;
    width: 45%;
    height:30% 
}

.profile-picture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.social-icon {
    width: 20px;
    height: 20px;
}

.name {
    font-family: 'Gasalt Regular';
    text-transform: uppercase;
    font-size: 34px;

}

.bio {
    font-family: sans-serif;
    font-size: 14px;
    padding-bottom: 70px;
   
}

.social-link {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 20px;
    color: deepskyblue;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.social-link:hover {
    color: white;
    background-color: dodgerblue;
}

@font-face {
    font-family: 'Gasalt Regular';
    src: url('../fonts/Gasalt-Regular.ttf');
}

